<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Nur Muhammad Shafiullah">
    <meta name="description" lang="en"
          content="Nur Muhammad Shafiullah, contest mathematician, hobbyist coder">

    <!-- placed in head for exact time measurement in google analytics -->

    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css"/>
    <link href="/css/animate-custom.css" media="screen, projection" rel="stylesheet" type="text/css"/>
    <link href="/css/print.css" media="print" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 8]>
    <link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css"/>
    <![endif]-->

    <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/github.min.css">
</head>
<body>
<header>
    <div class="header-master">
        <div class="container">
            <img class="blog-logo" src="https://1.gravatar.com/avatar/769230e4d46d78e61f92fa40ef08e76a?s=150">
            <div class="blog-name">
                <div class="blog-title">
                    <a href="/">{{ site.name }}</a>
                </div>
                <div class="blog-sub">
                    {{ site.subname }}
                </div>
            </div>
        </div>
    </div>
</header>